<% const num = 10 %>
<% if(num > 100){ %>
    <%= num %>은 100보다 크다
<% }else if (num > 80){ %>
    <%= num %>은 80보다 크다
<% }else { %>
    <%= num %>. 그 외의 값
<% } %>

<%= "<h3>확인</h3>" %><br>
<%- "<h3>확인</h3>" %><br>