<h1>logout 페이지 입니다</h1>
<a href="/">index</a>
<a href="/login">login</a>
<hr>
<%= console.log(context); %>
<%= context.key1 %><br>
<%= context['key2'] %><br>
<%= context['key3'][0] %><br>
<%= context['key4'] %><br>
<%= context['key4']["k1"] %><br>
<%= context['key4'].k2 %><br>
<script>console.log("web");</script>